<a href="https://colab.research.google.com/github/surajslab/ObjectOrientedProgramming/blob/main/OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Object Oriented Programming

## Basics

* Creation of a class Item
* Creating two instances of the class ie, item1 and item2
* When the calculate_price() is called it shows the results of each individual items
* That is possible because of the use of self keyword
* The init function by default takes name of the object or instance as its first arguement and that is self
* Thus the self keyword allows us to use the attributes(variables) in the init function anywhere in the class

In [ ]:
class Item:

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

  def calculate_price(self):
    return self.price*self.quantity
  




item1=Item("Phone",100,3)
print(item1.calculate_price())

item2=Item("Laptop",1000,2)
print(item2.calculate_price())

300
2000
hi

## Class Attribute

When we have a class attribute it is independent of objects and can be directly accessed with the class name.

In [ ]:
class Item:

  payrate=0.8 # class attribute

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

  def calculate_price(self):
    return self.price*self.quantity

print(Item.payrate) # only class name is used to access the class attribute

0.8

**Yet the class attribute can also be accessed using the objects**

In [ ]:
class Item:

  payrate=0.8

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

  def calculate_price(self):
    return self.price*self.quantity

item1=Item("Phone",100,3)
print(item1.payrate)

0.8

To justify the above program lets find out all the attributes that are available for the class and the object

In [ ]:
class Item:

  payrate=0.8

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

  def calculate_price(self):
    return self.price*self.quantity

item1=Item("Phone",100,3)

print("Object Attributes :", item1.__dict__)
print()
print("Class Attributes :",Item.__dict__)

Object Attributes : {'name': 'Phone', 'price': 100, 'quantity': 3}

Class Attributes : {'__module__': '__main__', 'payrate': 0.8, '__init__': <function Item.__init__ at 0x7f1b6f598560>, 'calculate_price': <function Item.calculate_price at 0x7f1b6f59ce60>, '__dict__': <attribute '__dict__' of 'Item' objects>, '__weakref__': <attribute '__weakref__' of 'Item' objects>, '__doc__': None}

As it is visible in the above output that the payrate variable is not available for the object yet it can be accessed by it.

###**Important feature of class attribute :**
*  When there is a method that uses class attribute
*  And when that method is called using a object
<br>
* Case 1:

  * When we call the method with item1 
and in that case the payrate value will be default as 0.8.


* Case 2:

   * But we can also explicitly define the value of the payrate as we are doing in item2 that is payrate=0.7. And we get answer accordingly.

In [ ]:
class Item:

  payrate=0.8

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

  def calculate_price(self):
    return self.price*self.quantity

  def calculate_discount(self):
    return self.price*self.payrate # using self for class attribute


item1=Item("Phone",100,3)
print(item1.calculate_discount())


item2=Item("Phone",100,3)
item2.payrate=0.7   # explicitly defining the value
print(item2.calculate_discount())

80.0
70.0

## Magic Methods

Reference : https://www.youtube.com/watch?v=FIaPZXaePhw&t=0s

### Dunder str method

For simple understanding of the dunder str method it is just conversion of the object to string.

Eg: print(str(1))

In place of 1 we are converting a **object**.It is can only seen when the print statement is used. Just to make the object look prettier.

In [ ]:
class Customizedinteger:

  def __init__(self,integer):
    self.integer=integer
  
  def __str__(self):
    return f"Object with value : {self.integer}"

int1 = Customizedinteger(1)
int2 = Customizedinteger(2)

print(int1)
print(int2)

Object with value : 1
Object with value : 2

### Dunder repr method

As the dunder str method is used to make the object look prettier the dunder repr method is used to represent the object in more formal way by the python documentation.That is the exact way it is declared

In [ ]:
class Customizedinteger:

  def __init__(self,integer):
    self.integer=integer
  
  def __str__(self):
    return f"Object with value : {self.integer}"
  

  def __repr__(self):
    return f"Customizedinteger({self.integer})"

int1 = Customizedinteger(1)
int2 = Customizedinteger(2)

int1, int2

Customizedinteger(1) Customizedinteger(2)

### Using the repr method in action 

Using the all=[] class attribute to collect all the instances and displaying them.

In [ ]:
class Item:

  payrate=0.8
  all=[] # class attribute

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

    Item.all.append(self)

  def calculate_price(self):
    return self.price*self.quantity

  def calculate_discount(self):
    return self.price*self.payrate # using self for class attribute

  def __repr__(self):
    return f"Item('{self.name}',{self.price},{self.quantity})"


item1=Item("Phone",100,3)
item2=Item("Laptop",1001,2)
item2=Item("Camera",2000,1)
item2=Item("Mouse",200,5)
item2=Item("Keyboard",500,7)

for instance in Item.all:
  print(instance)

Item('Phone',100,3)
Item('Laptop',1001,2)
Item('Camera',2000,1)
Item('Mouse',200,5)
Item('Keyboard',500,7)

## Class Methods

### Creating a csv file to represent a database

In [ ]:
import pandas as pd

dict1 = {
    
    "name":["Phone","Laptop","Mouse"],
    "price":[100,200,300],
    "quantity":[1,3,2]
}


df=pd.DataFrame(dict1)
df.to_csv("data.csv",index=False)

### Class method

Class method just as class attribute is independent of object. It can be directly used by the class name.

**Example 1** for class method

In [ ]:
class Item:

  payrate=0.8
  all=[] # class attribute

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

    Item.all.append(self)

  @classmethod
  def classm(cls):
    print("Hey iam a class method")


  def calculate_price(self):
    return self.price*self.quantity

  def calculate_discount(self):
    return self.price*self.payrate # using self for class attribute

  def __repr__(self):
    return f"Item('{self.name}',{self.price},{self.quantity})"


Item.classm()

Hey iam a class method

Example 2 for class method

In [ ]:
import csv
class Item:

  payrate=0.8
  all=[] # class attribute

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

    Item.all.append(self)

  @classmethod
  def instantiate_csv(cls):

    with open ('data.csv','r') as f:

      reader = csv.DictReader(f)
      items=list(reader)
      
    for item in items:
      Item(
          
          name = item['name'],
          price=item['price'],
          quantity=item['quantity']
)

    
    


  def calculate_price(self):
    return self.price*self.quantity

  def calculate_discount(self):
    return self.price*self.payrate # using self for class attribute

  def __repr__(self):
    return f"Item('{self.name}',{self.price},{self.quantity})"


Item.instantiate_csv()
Item.all

[Item('Phone',100,1), Item('Laptop',200,3), Item('Mouse',300,2)]

## Static Method

Static methods are idependent of instance and the class itself. And the static methods do not take any arguement which justifies the above statement.

In [ ]:
# When to use class methods and when to use static methods ?

class Item:
    @staticmethod
    def is_integer():
        '''
        This should do something that has a relationship
        with the class, but not something that must be unique
        per instance!
        '''
    @classmethod
    def instantiate_from_something(cls):
        '''
        This should also do something that has a relationship
        with the class, but usually, those are used to
        manipulate different structures of data to instantiate
        objects, like we have done with CSV.
        '''

# THE ONLY DIFFERENCE BETWEEN THOSE:
# Static methods are not passing the object reference as the first argument in the background!


# NOTE: However, those could be also called from instances.

item1 = Item()
item1.is_integer()
item1.instantiate_from_something()

# Principles of Object Oriented Programming

## Inheritance

### Example 1

In [ ]:
class Item:

  payrate=0.8
  all=[] # class attribute

  def __init__(self,name: str,price: int, quantity=0):

    self.name=name
    self.price=price
    self.quantity=quantity

    Item.all.append(self)

  def calculate_price(self):
    return self.price*self.quantity

  def calculate_discount(self):
    return self.price*self.payrate # using self for class attribute

  def __repr__(self):
    return f"{self.__class__.__name__}('{self.name}',{self.price},{self.quantity})"
     # Using magic method __class__.__name__ to get the name of the class which got initialised



class Phone(Item):

  all=[]


  def __init__(self,name:str, price:int, quantity:int,broken_phone=0):

    super().__init__(
        name,price,quantity
    )

    Phone.all.append(self)

    self.broken_phone=broken_phone

  
item1=Item("Phone",100,3)
phone1=Phone("nokia",1200,3,1)
item1.all, phone1.all

([Item('Phone',100,3), Phone('nokia',1200,3)], [Phone('nokia',1200,3)])

###Example 2 Multilevel Inheritance

In [ ]:
class A:

  def feature1(self):
    print(f"Showing Feature 1, from class : {self.__class__.__name__}")

  def feature2(self):
    print(f"Showing Feature 2 , from class : {self.__class__.__name__}")
  

class B(A):

  def feature3(self):
    print(f"Showing Feature 3, from class : {self.__class__.__name__}")

  def feature4(self):
    print(f"Showing Feature 4, from class : {self.__class__.__name__}")


class C(B):

  def feature5(self):
    print(f"Showing Feature 5, from class : {self.__class__.__name__}")

  def feature6(self):
    print(f"Showing Feature 6, from class : {self.__class__.__name__}")

obj2 = B()
obj2.feature1()

obj3 = C()
obj3.feature2()

Showing Feature 1, from class : B
Showing Feature 2 , from class : C

### Example 3 :  Multiple Inheritance

In [ ]:
class A:

  def feature1(self):
    print(f"Showing Feature 1, from class : {self.__class__.__name__}")

  def feature2(self):
    print(f"Showing Feature 2 , from class : {self.__class__.__name__}")
  

class B:

  def feature3(self):
    print(f"Showing Feature 3, from class : {self.__class__.__name__}")

  def feature4(self):
    print(f"Showing Feature 4, from class : {self.__class__.__name__}")


class C(A,B):

  def feature5(self):
    print(f"Showing Feature 5, from class : {self.__class__.__name__}")

  def feature6(self):
    print(f"Showing Feature 6, from class : {self.__class__.__name__}")



obj3 = C()
obj3.feature2()
obj3.feature4()

Showing Feature 2 , from class : C
Showing Feature 4, from class : C

### Example 4 :  Single Level Inheritance

In [ ]:
class A:

  def feature1(self):
    print(f"Showing Feature 1, from class : {self.__class__.__name__}")

  def feature2(self):
    print(f"Showing Feature 2 , from class : {self.__class__.__name__}")
  

class B(A):

  def feature3(self):
    print(f"Showing Feature 3, from class : {self.__class__.__name__}")

  def feature4(self):
    print(f"Showing Feature 4, from class : {self.__class__.__name__}")


obj2 = B()
obj2.feature1()

Showing Feature 1, from class : B

## Method Resolution Order


In the above example we use multiple inheritances and it is also called Diamond inheritance or Deadly Diamond of Death and it looks as follows:


![220px-diamond_inheritance-svg.png]()

Python follows a depth-first lookup order and hence ends up calling the method from class A. By following the method resolution order, the lookup order as follows.
Class D -> Class B -> Class C -> Class A
Python follows depth-first order to resolve the methods and attributes. So in the above example, it executes the method in class B.

In [ ]:
class A:
    def rk(self):
        print(" In class A")
class B(A):
    def rk(self):
        print(" In class B")
class C(A):
    def rk(self):
        print("In class C")
  
# classes ordering
class D(B, C):

  pass
    
     
r = D()
r.rk()

 In class B

## Polymorphism

It is the concept of a code taking different forms.

### Operator Overloading

In [ ]:
print(int.__add__(1,2)) # This is how add function is performed internally

3

Redefining the add method inside the Student class

In [ ]:
class Student:

  def __init__(self,m1,m2):
    self.m1=m1
    self.m2=m2

  def __add__(self,n2):
    m1=self.m1+n2.m1
    m2=self.m2+n2.m2

    s3=Student(m1,m2)

    return s3


s1= Student(10,20)
s2= Student(30,40)

s3= s1+s2 # student.__add__(s1,s2)

print(s3.m1)
print(s3.m2)

40
60

### Method Overloading

Method overloading is not supported in python !!

### Method Overriding

In [ ]:
class A:
  def show(self):
    print("Showing from A")

class B(A):
  pass

obj = B()
obj.show()

Showing from A

In [ ]:
class A:
  def show(self):
    print("Showing from A")

class B(A):

  def show(self):
    print("Showing from B")
  

obj = B()
obj.show()

Showing from B

## Encapsulation

In object-oriented programming (OOP), encapsulation refers to the bundling of data with the methods that operate on that data, or the restricting of direct access to some of an object's components. Encapsulation is used to hide the values or state of a structured data object inside a class, preventing direct access to them by clients in a way that could expose hidden implementation details or violate state invariance maintained by the methods.

## Using Double Underscores

Reference : https://www.askpython.com/python/oops/encapsulation-in-python#:~:text=What%20is%20the%20need%20for%20Encapsulation%20in%20Python,through%20a%20proper%20code%20organization.%20More%20items...%20

If you want to make class members i.e. methods and variables private, then you should prefix them with double underscores. But Python offers some sort of support to the private modifier. This mechanism is called Name mangling. With this, it is still possible to access the class members from outside it.

## Name Mangling
![Screenshot 2022-01-16 192147.png]()

In [ ]:
class A:
  def __init__(self):

    self.__tech="Private Variable in Python"


obj= A()
obj._A__tech 

# Name Mangling, Accessing a private variable outside the class ( _classname__classvariable)
# This is exact application of encapsulation

'Private Variable in Python'

## Using the get and set method

Using Getter and Setter methods to access private variables
If you want to access and change the private variables, accessor (getter) methods and mutators(setter methods) should be used, as they are part of Class.

In [ ]:
class Person:
    def __init__(self, name, age=0):
        self.name = name
        self.__age = age
 
    def display(self):
        print(self.name)
        print(self.__age)
 
    def getAge(self):
        print(self.__age)
 
    def setAge(self, age):
        self.__age = age
 
person = Person('Dev', 30)
#accessing using class method
person.display()
#changing age using setter
person.setAge(35)
person.getAge()

Dev
30
35

## Abstraction

Reference : https://www.youtube.com/watch?v=UDmJGvM-OUw&list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3&index=65